<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- userService -->
	<bean id="hell" class="com.spring.hellworld"  init-method="init" destroy-method="dest"></bean>
	<!--静态工厂  -->
	
	<bean id="factory" class="com.spring.factory" factory-method="run"></bean>
	<!-- 工厂 -->
	<bean id="factory2" class="com.spring.factory2" ></bean>
	<bean id="id3" factory-bean="factory2" factory-method="run"></bean>
	
</beans>